<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/assets/img/logo.jpg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">©Ecommerce</small>
        <span class="footer__copy">
            <i class='bx bx-copyright' > REST-2022. All rights reserved</i>
        </span>
      </div>
      
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"></a></li>
          <li><a href="https://www.instagram.com/riichi32/" target="_blank"class="footer__social-link" class="text-muted">Instagram</a>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </li>                                                   
        </ul>        
      </div>
      <div class="col-1 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>          
        </ul>
      </div>
      <div class="col-2 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">          
          <li><a class="text-muted" href="#">Locations</a></li>          
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>