<app-nav-bar></app-nav-bar>
<div class="container">
<router-outlet></router-outlet>
</div>

<!-- <div class="container" style="background-color: #2699DA;">
  <h1 [style.color]="testComponent.listaNombres.length>0? 'red':'black'">ComercioElectronico</h1> -->
  <!-- <app-brand></app-brand>
  <app-product-type></app-product-type>
  <app-product></app-product> -->
  <!-- <div [class.hiden]="testComponent.inputName.length==0">
    <p>Escribiendo: {{testComponent.inputName}}</p>
  </div>
  <div>
    <app-test #testComponent [nombre]="name" [apellido]="lastname"(saludar)="onSaludar($event)"></app-test>
  </div>   -->
  <!-- <app-product [respuestaTest]="respuesta"></app-product> -->
<!-- </div> -->
<app-footer></app-footer>
