<div class="card" >
    <div class="card-header">Login</div>
    <div class="card-body">
        <ng-container>

        </ng-container>   
        <!-- <form id="LoginForm" [formGroup]="formulariologin" (ngSubmit)="Registrarse()"> -->
            <div class="form-group">
                <label for="userName">Usuario</label>
                <input type="text" class="form-control" placeholder="UserName" [(ngModel)]="userName"/>                    

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password"/>
                    <br>
                    <button class="btn btn-success" (click)="Registrarse()" >Ingresar</button>
                </div>    
            </div>
        